body 
  {
    font-family: "Lato", sans-serif;
    margin: 0;
  }
    
.sidebar 
  {
    height: 100%;
    width: 0;
    position: fixed; 
    top: 0;
    right:0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
.sidebar a 
  {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
.sidebar a:hover 
  {
    color: #f1f1f1;
  }
  
.sidebar .closebtn 
  {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
.openbtn 
  {
    font-size: px;
    cursor: pointer;
    background-color: #111;
    color: white;
    border: none;
    float: right;
    margin-top: 15;
    margin-right: 10;
  }
  
.openbtn:hover 
  {
    background-color: #444;
  }
  
#main 
  {
    transition: margin-right .5s;
    background-image: url("wp2002438-assassins-creed-origins-wallpapers.jpg");
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
/*kuch bhi*/
@media screen and (max-height: 450px) 
  {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

#home
{
   height: 100vh;
    
}

@-webkit-keyframes flyIn
{
  from {padding: 0vh 60px 0px 60px;}
  to {padding: 15vh 60px 0px 60px;}
}
@keyframes flyIn
{
  from {padding: 0vh 60px 0px 60px;}
  to {padding: 15vh 60px 0px 60px;}
}

@-webkit-keyframes fade
{
  from {opacity: 0;}
  to {opacity: 1;}
}
@keyframes fade
{
  from {opacity: 0;}
  to {opacity: 1;}
}


#home h1
{
  padding: 15vh 60px 0px 60px;
  font-family:kelly slab;
  font-style: normal;
  font-weight: 400;
  font-size: 65px;
  line-height: 100%;
  text-transform:none;
  color: #000;
  -webkit-animation: flyIn 2s, fade 2s;
  animation: flyIn 2s, fade 2s;
}

#home h2
{
  padding: 16px 25% 0 60px;
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
  font-weight: 100;
  font-size: 32px;
  line-height: 120%;
  text-transform: none;
  color: #281A00;
  -webkit-animation: fade 2s;
  animation: fade 2s;
}

/* ADARSH */
#game-engines{
  min-height: auto;
}

  .container-fluid {
    max-width: 1200px;
  }
  
  .card {
    background: #fff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    transition: 0.5s ease;
    cursor: pointer;
    margin:30px;
  }
  .card img {
    width: 100%;
  }
  
  [class*="row"] {
    margin-bottom: 1em;
    -webkit-box-pack: center;
            justify-content: center;
  }
  .card:hover{
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
    border-bottom: 10px solid #b30054;
    border-radius:20px;
  }
  
  .jumbotron{	background-image:url("ant1.jpg");
      background-repeat:no-repeat;
      background-size:cover;
      color:white;
      background-blend-mode:multiply;
                  background-position: center;}
  
  .hr
  { 
    border: solid white;
    width:38%;
    margin:10px 50px 40px 10px;
  }
  
  .mar{ margin:0px 0px 0px 30px;}
  

/* ARPIT */
#esports{
  min-height: 100vh;
  background-color: blue;
}

#live-stream{
  height: 100vh;
  background-color: #281A00;
}


#about{
  min-height:70vh;
  background-color: #ECF0F1;
}

#about h1
{
  text-align: center;
  padding-top: 20;
  font-family: Comic Sans MS;
  
}
